<a href="https://colab.research.google.com/github/j764012/data-science-exercise/blob/main/task04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])

print(df)
#Drop missing observations

print(df.dropna())

# Drop rows where all cells in that row is NA

print('#Drop missing observations :' )
print(df.dropna(how='all', inplace=True))

# Create a new column full of missing values

df['new_col'] = np.nan
print('#Create a new column full of missing values :' )
print(df)

# Fill in missing data with zeros

print('# Fill in missing data with zeros')
print(df.fillna(0))

# Fill in missing in preTestScore with the mean value of preTestScore

print('# Fill in missing in preTestScore with the mean value of preTestScore')
df['preTestScore'].fillna(df['preTestScore'].mean(), inplace=True)
print(df)


# Fill in missing in postTestScore with each sex’s mean value of postTestScore

print('# Fill in missing in postTestScore with each sex’s mean value of postTestScore')
df['postTestScore'].fillna(df['postTestScore'].mean(), inplace=True)
print(df)

# Select some rows but ignore the missing data points

print('# Select some rows but ignore the missing data points')
print(df.loc[[0, 2]].dropna(axis=1))

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0
#Drop missing observations :
None
#Create a new column full of missing values :
  first_name last_name   age sex  preTestScore  postTestScore  new_col
0      Jason    Miller  42.0   m           4.0           25.0      NaN
2       Tina       Ali  36.0   f           NaN            NaN      NaN
3       Jake    Milner  24.0   m           2.0           62.0      NaN
4        Amy     Cooze  73.0   f           3.0           70.0      NaN
# Fill in missing data with zeros
  first_name last_name   age sex  preTestScore  postTestScore  new_col
0      Jason    Miller  42.0   m           4.0           25.0      0.0
2       Tina       Ali  36.0   f           0.0            0.0      0.0
3       Jake    Milner  24.0   m           2.0           62.0      0.0
4        Amy     Cooze  73.0   f           3.0           70.0      0.0
# Fill in missing in preTestScore with the mean value of preTestScore
  first_name last_name   age sex  preTestScore  postTestScore  new_col
0      Jason    Miller  42.0   m           4.0           25.0      NaN
2       Tina       Ali  36.0   f           3.0            NaN      NaN
3       Jake    Milner  24.0   m           2.0           62.0      NaN
4        Amy     Cooze  73.0   f           3.0           70.0      NaN
# Fill in missing in postTestScore with each sex’s mean value of postTestScore
  first_name last_name   age sex  preTestScore  postTestScore  new_col
0      Jason    Miller  42.0   m           4.0      25.000000      NaN
2       Tina       Ali  36.0   f           3.0      52.333333      NaN
3       Jake    Milner  24.0   m           2.0      62.000000      NaN
4        Amy     Cooze  73.0   f           3.0      70.000000      NaN
# Select some rows but ignore the missing data points
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0      25.000000
2       Tina       Ali  36.0   f           3.0      52.333333

In [ ]:
import pandas as pd
import requests

url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

df = pd.read_csv(url)

print(df)

# Count the number of missing values in each column and find the maximum number of missing values.
print('# Count the number of missing values in each column and find the maximum number of missing values.')
df_na = df.isna().sum()
df_na_max = df_na.max()
for i in range(0, len(df_na)):
  if df_na[i] == df_na_max:
    print(df_na.index[i], ":", df_na_max)

#How to replace missing values of `multiple numeric` columns with the mean?
print('#How to replace missing values of `multiple numeric` columns with the mean?')

df.fillna(df.mean(), inplace=True)
print(df.isna().sum())


#Calculate the average price of different manufacturers.
print('#Calculate the average price of different manufacturers.')

print(df.groupby('Manufacturer').agg({'Price':'mean'}))


#How to replace missing values of `price` columns with the mean depending on its manufacturers?

df['Price'] = df.groupby('Manufacturer')['Price'].transform(lambda x: x.fillna(x.mean()))